/* ====GLOBAL */
body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: #c2d0da;
  font-family: 'Quicksand', sans-serif;
}

/* ====header */
header {
 background-color: rgba(255, 166, 0, 0.6);           /* <--------xoa mau bg o day */
  padding: 40px 0 20px 0;
}
.topnav #myLinks {
  opacity: 0;
  transition: all .5s;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  scale: 95%;
}
.topnav #myLinks .iconClose {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  line-height: 12px;
  background-color: #ff6600;
  border-radius: 6px;
  color: white;
}
.topnav #myLinks .iconClose:focus{
  outline: white 3px solid;
}

.topnav .LinkNav a {
  color: white;
  padding: 12px 10px;
  text-decoration: none;
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  transition: all .2s;
}
.topnav .LinkNav a:hover{
  color: #ff6600;
}
.topnav a.icon {
  font-size: 1.95em;
  display: block;
  color: white;
  padding: 12px 10px;
  font-size: 1.95em;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navright {
  display: flex;
  align-items: center;
}
.navleft a {
  color: white;
  font-size: 36px;
  font-weight: 700;
}
.topnav .navleft a:hover{
  text-decoration: none;
}
.contentInside {
  text-align: center;
  padding-top: 100px;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =====LIGHT DARK THEME  <------ */
.light-darkTheme a {
  font-size: 25px;
  color: white;
  padding: 12px 10px;
  display: block;
  font-size: 25px;
  font-weight: 600;
}


/* ====END OF LIGHT DARK THEME */
/* ====search */
.topnav .form-inline {
  position: relative;
  margin-right: 10px;
}

.topnav .form-inline .searchTab {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #232220;
  color: #c2d0da;
}

.topnav .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

/* ====end of search */